/* General Styles */
.App {
  text-align: center;
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link Styles */
.App-link {
  color: #61dafb;
}

/* Logo Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Main Content Styles */
.main-content {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px;
  background-color: royalblue;
  border-bottom: 1px solid #dee2e6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-title {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.navbar-uuid {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

/* Left Panel Styles */
.left-panel {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 20%;
}

.left-panel h2 {
  margin-top: 0;
}

.radio-group {
  margin-bottom: 1rem;
}

/* Chat Wrapper and Container Styles */
.chat-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
}

.chat-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.chat-section p {
  text-align: start;
  font-size: 16px;
  font-weight: 800;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 74vh;
  width: 95%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Chat Bubble Styles */
.chat-bubble-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 60%;
}

.bubble-info {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 5px;
}

.bubble-info.left {
  align-self: flex-start;
}

.bubble-info.right {
  align-self: flex-end;
}

.chat-bubble {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

.bot1-container {
  align-self: flex-start;
}

.bot2-container {
  align-self: flex-end;
}

.bot1-bubble {
  background-color: #7CB9E8;
  color: black;
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bot2-bubble {
  background-color: #E8E8E8;
  color: black;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pink-bubble {
  background-color: pink;
}

.left-panel {
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: start;
}

.left-panel h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.radio-group {
  margin-bottom: 20px;
}

.radio-group p {
  margin: 5px 0;
  font-weight: bold;
}

.radio-group label {
  display: block;
  margin: 5px 0;
}

.question-label {
  font-size: 1.2em;
  margin-bottom: 5px;
  display: block;
}

.chat-bubble a {
  background-color: yellow;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.chat-bubble-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 100%;
}

.chat-bubble.pink-bubble {
  background-color: pink;
}

.bubble-info {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.bubble-info.left {
  align-self: flex-start;
}

.bubble-info.right {
  align-self: flex-end;
}

.chat-bubble {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  max-width: 80%;
  display: inline-block;
  word-wrap: break-word;
}

.bot1-container {
  align-self: flex-start;
}

.bot2-container {
  align-self: flex-end;
}

.bot1-bubble {
  background-color: #7CB9E8;
  color: black;
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bot2-bubble {
  background-color: #E8E8E8;
  color: black;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pink-bubble {
  background-color: pink;
}


.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 800;
}

.navigation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}
